* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.pageContainer {
  width: 80%;
  margin: auto; }

.navMenu {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: lightblue; */
  line-height: 60px;
  /* padding: 10px 0; */
  vertical-align: middle;
  /* align-items: flex-end; */
  padding: 0 10%;
  border-bottom: solid 1px #d6d8db;
  box-shadow: 0 0 10px #d6d8db;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: white;
  box-sizing: border-box; }

.navName {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  margin-right: 35px; }

.navDesc {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  margin-right: 50px; }

.navItem {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  margin: 0 35px;
  padding-top: 2px;
  color: black; }

.timeline {
  padding-top: 15px;
  /*padding-bottom: 10px;*/
  z-index: 4;
  background: -moz-linear-gradient(top, white 90%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 90%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 90%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.test {
  position: absolute;
  top: 2206px; }

.stickyTimeline {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  box-sizing: border-box; }

.scrollingTimeline {
  position: absolute;
  width: 80%; }

.pageSectionTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  margin-bottom: 20px; }

.timelineBtns {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 25px; }

.timelineBtn {
  height: 55px;
  width: 150px;
  /*font-family: 'Oswald', sans-serif;*/
  /*font-size: 24px;*/
  border-radius: 3px;
  margin-right: 20px;
  /*color: white;*/
  /*text-align: center;*/
  /*line-height: 55px;*/
  box-sizing: border-box;
  overflow: hidden; }

.educationBtn {
  background-color: salmon; }

.professionalBtn {
  background-color: #20cdd6; }

.creativeBtn {
  background-color: seagreen; }

.activeBtn {
  /*border: solid 3px lightblue;*/
  /*line-height: 49px;*/
  box-shadow: 0 0 6px grey; }

.words {
  position: relative;
  top: 0;
  left: 0;
  height: 55px;
  width: 150px;
  line-height: 55px;
  /*background-color: orange;*/
  color: white;
  text-align: center;
  z-index: 3;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  vertical-align: center; }

.reveal {
  position: relative;
  top: -55px;
  right: 0px;
  height: 55px;
  width: 150px;
  border-radius: 3px;
  transition-property: opacity;
  transition-duration: 2s;
  z-index: 2;
  opacity: 1; }

.revealEd {
  background-color: salmon; }

.revealProf {
  background-color: #20cdd6; }

.revealPhot {
  background-color: seagreen; }

.active {
  /*background-position-x: -13px;*/
  /*width: 0px;*/
  /*right: 0px;*/
  opacity: 0; }

.background {
  position: relative;
  top: -110px;
  left: 0;
  height: 55px;
  width: 150px;
  border-radius: 3px;
  /*background-color: seagreen;*/
  transition-property: background-position;
  transition-duration: 3s;
  background-image: url("./img/vine2.PNG");
  background-size: 139% 180%;
  background-position: 25% 35%;
  background-repeat: no-repeat;
  z-index: 1; }

.move {
  background-position: 10% 10%; }

.categoryDesc {
  font-family: 'Bad Script', cursive;
  font-size: 29px;
  margin-bottom: 20px;
  color: grey; }

.years {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px; }

.line {
  display: inline-block;
  height: 5px;
  width: 100%;
  background-color: #20cdd6;
  top: 5px;
  transition-property: background-color;
  transition-duration: 2s;
  transition: ease-in-out; }

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: -19px; }

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 5px solid #20cdd6;
  background-color: white;
  transition-property: background-color;
  transition-duration: 2s;
  transition: ease-in-out; }

.section {
  position: relative;
  top: 0px;
  padding-top: 255px; }

.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.educTopPadding {
  margin-top: 355px; }

.item {
  width: 9%;
  /*background-color: red;*/
  /*margin: 5px;*/
  padding: 0px 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.markerLines {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.markerLine {
  width: 9%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  position: relative;
  top: -10px; }

.activeMarker {
  width: 2px;
  height: 50px;
  background-color: grey;
  margin: auto; }

.creativeMarker {
  background-color: seagreen; }

.educationMarker {
  background-color: salmon; }

.educationSection {
  /*background-color: pink;*/
  padding-bottom: 400px; }

.moviesSection {
  padding-bottom: 700px; }

.braceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 4.5%; }

.pge {
  width: 34%;
  height: 50px; }

.ecova {
  width: 54%;
  height: 47px; }

.consulting {
  width: 12%;
  height: 38px; }

.professionalSection {
  padding-top: 225px; }

.withBottomPadding {
  padding-bottom: 400px; }

.professionalContainer {
  justify-content: space-between;
  margin: 0 0 0 4.5%; }

.pgeDesc {
  width: 31%;
  padding: 0 20px; }

.ecovaDesc {
  width: 41%;
  padding: 0 20px; }

.consultingDesc {
  width: 18%;
  padding: 0 0 0 20px; }

.jobTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
  /*color: #20cdd6;*/ }

.consultingTitle {
  margin-top: 10px;
  margin-bottom: 20px; }

.jobSummaryBullet {
  font-size: 20px;
  margin-bottom: 10px;
  color: #20cdd6; }

.jobSummaryBulletText {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

.photogContainer {
  padding-bottom: 100px; }

/*.withPadding{
  padding-top: 210px;
}*/
.photogImg {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 0 2px 10px grey; }

.wedd1 {
  background-image: url("./img/wedd1.jpg");
  background-size: 100px 122px;
  background-position-y: 45%; }

.wedd2 {
  background-image: url("./img/wedd5.jpg");
  background-size: 100px 148px;
  background-position-x: 10%;
  background-position-y: 4%; }

.wedd3 {
  background-image: url("./img/wedd3.jpg");
  background-size: 127px 100px;
  background-position-x: 36%; }

.port1 {
  background-image: url("./img/port1.jpg");
  background-size: 135px 100px;
  background-position-x: 12%; }

.port2 {
  background-image: url("./img/port3.jpg");
  background-size: 100px 119px;
  background-position-y: 22%; }

.port3 {
  background-image: url("./img/port2.jpg");
  background-size: 170px 107px;
  background-position-x: 67%; }

.beauty1 {
  background-image: url("./img/beauty1.jpg");
  background-size: 100px 140px;
  background-position-y: 3%;
  background-position-x: 1%; }

.beauty2 {
  background-image: url("./img/beauty4.jpeg");
  background-size: 126px 101px;
  background-position-y: 1%;
  background-position-x: 49%; }

.beauty3 {
  background-image: url("./img/beauty6.jpeg");
  background-size: 123px 154px;
  background-position-y: 59%;
  background-position-x: 56%; }

.nature1 {
  background-image: url("./img/nature1.jpg");
  background-size: 100px 142px;
  background-position-y: 45%;
  background-position-x: 59%; }

.nature2 {
  background-image: url("./img/nature2.jpg");
  background-size: 150px 106px;
  background-position-y: 59%;
  background-position-x: 59%; }

.nature3 {
  background-image: url("./img/nature3.jpg");
  background-size: 114px 100px;
  background-position-y: 59%;
  background-position-x: 66%; }

.usinp1 {
  background-image: url("./img/usinp0.jpeg");
  background-size: 210px 185px;
  background-position-y: 75%;
  background-position-x: 61%; }

.usinp2 {
  background-image: url(./img/usinp1.jpeg);
  background-size: 163px 112px;
  background-position-y: 97%;
  background-position-x: 61%; }

.usinp3 {
  background-image: url("./img/usinp7.jpeg");
  background-size: 170px 100px;
  background-position-y: 59%;
  background-position-x: 34%; }

.beach1 {
  background-image: url("./img/beach1.jpeg");
  background-size: 152px 100px;
  background-position-y: 59%;
  background-position-x: 28%; }

.beach2 {
  background-image: url("./img/beach2.jpeg");
  background-size: 100px 125px;
  background-position-y: 86%;
  background-position-x: 42%; }

.beach3 {
  background-image: url("./img/beach3.jpeg");
  background-size: 147px 100px;
  background-position-y: 59%;
  background-position-x: 53%; }

.biz1 {
  background-image: url("./img/biz1.jpeg");
  background-size: 120px 100px;
  background-position-x: 59%;
  margin-top: 10px; }

.biz2 {
  background-image: url("./img/biz2.png");
  background-size: 100px 100px; }

.bizdesc {
  margin-top: 10px;
  margin-bottom: 5px; }

.li2016 {
  text-align: left;
  padding-top: 15px; }

.dev1 {
  background-image: url("./img/artcrawl.png");
  background-size: 164px 270px;
  background-position-y: 25%;
  background-position-x: 54%;
  border-radius: 10px 10px 3px 3px; }

.dev2 {
  background-image: url("./img/invisiart.jpg");
  background-size: 146px 167px;
  background-position-y: 63%;
  background-position-x: 57%; }

.dev3 {
  overflow: hidden;
  animation-name: backgroundchanges;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes backgroundchanges {
  /*0% {width: 160px; box-shadow: 10px 10px 10px #979b9e;}*/
  /*25% {background-color: white;}*/
  0% {
    background-color: black; }
  /*40% {background-color: black;}*/
  50% {
    background-color: white; }
  /*60% {background-color: white;}*/
  100% {
    background-color: black; }
  /*75% {background-color: white;}*/
  /*100% {width: 160px; box-shadow: 10px 10px 10px #979b9e;}*/ }

.sun {
  /*margin-top: 100px;*/
  width: 50px;
  height: 50px;
  background-color: white;
  margin: auto;
  border-radius: 60% 60% 60% 60%;
  opacity: 0.7;
  margin-top: 15px;
  /*transition: width 2s;*/
  animation-name: shadowmoves;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes shadowmoves {
  0% {
    width: 50px;
    box-shadow: none;
    margin-top: 15px; }
  /*25% {background-color: white;}*/
  50% {
    height: 60px;
    width: 60px;
    margin-top: 0px;
    box-shadow: 10px 10px 10px #979b9e;
    background-color: yellow; }
  /*75% {background-color: white;}*/
  100% {
    width: 50px;
    box-shadow: none; } }

.eyes {
  /*background-color: green;*/
  height: 10px;
  width: 75%;
  line-height: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  position: relative;
  top: 20px; }

.eye {
  width: 10px;
  height: 1px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  animation-name: eyesmove;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes eyesmove {
  0% { }
  /*25% {background-color: white;}*/
  50% {
    height: 7px;
    width: 12px; }
  /*75% {background-color: white;}*/
  /*100% {width: 160px; box-shadow: 10px 10px 10px #979b9e;}*/ }

.zs {
  /*background-color: purple;*/
  font-size: 11px;
  font-family: Helvetica;
  position: relative;
  text-align: left;
  /*top: 0px;*/
  top: 2px;
  left: 20px;
  color: white;
  display: inline-block;
  animation-name: zsmove;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes zsmove {
  /*10% {font-size: 24px;}*/
  20% {
    opacity: 0;
    font-size: 12px; }
  50% {
    left: 15px;
    top: 5px; }
  70% {
    opacity: 0;
    font-size: 12px; }
  /*90% {font-size: 28px;}*/ }

.smile {
  height: 5px;
  width: 30px;
  /*background-color: purple;*/
  display: block;
  margin: auto;
  margin-top: 25px;
  animation-name: smilemove;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes smilemove {
  50% {
    height: 20px;
    margin-top: 23px; } }

.portfolioContainer {
  margin-top: 70px;
  margin-bottom: 100px; }

.portRow {
  /*background-color: green;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1vw; }

.portItem {
  width: 26vw;
  height: 18vw;
  border-radius: 3px;
  background: url("./img/invisiart.jpg");
  background-size: 100% 100%;
  overflow: hidden;
  box-sizing: border-box; }

.portItemDesc {
  background: -moz-linear-gradient(top, rgba(32, 114, 214, 0.6) 0%, rgba(32, 114, 214, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(32, 114, 214, 0.6) 0%, rgba(32, 114, 214, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(32, 114, 214, 0.6) 0%, rgba(32, 114, 214, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 26vw;
  height: 18vw;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 0 20px #2072d6;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 2; }

.topAnimate {
  top: 26vw;
  left: 0;
  opacity: 0;
  transition-property: top, left, opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out; }

.bottomAnimate {
  top: -26vw;
  left: 0;
  opacity: 0;
  transition-property: top, left, opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out; }

.leftAnimate {
  top: 0;
  left: 18vw;
  opacity: 0;
  transition-property: top, left, opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out; }

.rightAnimate {
  top: 0;
  left: -18vw;
  opacity: 0;
  transition-property: top, left, opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out; }

.centerDesc {
  opacity: 1;
  top: 0;
  left: 0; }

.portItemTitle {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: white;
  padding: 10px 20px;
  z-index: 3; }

.portItemDescP {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  padding: 0px 20px 10px 20px; }

.aboutCont {
  margin-bottom: 400px; }

.rightAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.life {
  background: url(./img/mylife.jpg);
  width: 33vw;
  height: 33vw;
  background-size: 100% 100%;
  /* min-width: 300px; */ }

.myPic {
  background: url(./img/oksana.jpg);
  width: 31vw;
  height: 33vw;
  background-size: 135% 110%;
  background-position: 36% 53%;
  /* min-width: 300px; */
  border-radius: 2px; }

.aboutDesc {
  width: 25vw;
  /*background-color: salmon;*/
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

.aboutDescP {
  padding-bottom: 10px; }

.aboutDescHeading {
  font-family: 'Oswald', sans-serif;
  font-size: 24px; }

@media screen and (max-width: 1000px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0; }
  .navMenu {
    width: 100%;
    height: 100px;
    line-height: 100px;
    justify-content: space-around;
    padding: 0; }
  .navName {
    display: none; }
  .navItem {
    font-size: 45px;
    padding: 0; }
  .portfolioContainer {
    margin-top: 110px;
    margin-bottom: 0px; }
  .portRow {
    flex-direction: column;
    margin: 0; }
  .portItem {
    width: 80vw;
    height: 55vw;
    margin: 20px 0; }
  .portItemDesc {
    width: 80vw;
    height: 55vw; }
  .pageSectionTitle {
    font-size: 65px;
    margin-bottom: 10px; }
  .firstSection {
    margin-top: 120px; }
  .portItemTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    padding: 20px 30px; }
  .portItemDescP {
    font-family: 'Open Sans', sans-serif;
    font-size: 37px;
    padding: 0px 30px 10px 30px; }
  .timelineBtns {
    justify-content: space-between; }
  .timelineBtn {
    height: 80px;
    width: 25vw; }
  .words {
    position: relative;
    height: 80px;
    width: 25vw;
    line-height: 80px;
    font-size: 40px; }
  .reveal {
    position: relative;
    top: -80px;
    right: 0px;
    height: 80px;
    width: 25vw; }
  .background {
    position: relative;
    top: -160px;
    height: 80px;
    width: 25vw; }
  .years {
    font-family: 'Oswald', sans-serif;
    font-size: 28px; }
  .professionalContainer {
    margin: 0 0 0 0; }
  .pgeDesc {
    padding: 0 10px; }
  .jobTitle {
    font-size: 40px; }
  .item {
    font-size: 22px; }
  .jobSummaryBulletText {
    font-size: 22px; }
  .photogImg {
    width: 90px;
    height: 90px; }
  .rightAbout {
    flex-direction: column; }
  .myPic {
    width: 80vw;
    height: 98vw;
    margin-bottom: 70px; }
  .aboutDesc {
    width: 77vw;
    padding: 0;
    font-size: 37px; }
  .aboutDescP {
    padding-bottom: 70px; }
  .aboutDescHeading {
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    padding-bottom: 10px; }
  .life {
    width: 80vw;
    height: 98vw;
    margin-bottom: 70px; } }
